<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF_8">
    <title>Darasa Bora</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Darasa Bora</h2>
            </div>
        </div>

        <table>

            <head>
                <tr>
                    <th colspan="100%" class="table-title">
                        <h2> Today's Attendance </h2>
                    </th>
                </tr>
                <tr>
                    <th>S No</th>
                    <th>Name</th>
                    <th>Course Name</th>
                    <th>Time</th>
                </tr>
            </head>
            <col>

            </col>
        </table>


    </div>
</body>

</html>