<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF_8">
    <title>Darasa Bora</title>
    <link rel="stylesheet" href="static/css/home.css">
</head>

<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                <h2 class="logo">Darasa Bora</h2>
            </div>
        </div>

        <table>

            <head>
                <form action="{{ url_for('home') }}" method="post">
                    <tr>
                        <th colspan="100%" class="table-title">
                            <h2> Today's Attendance </h2>
                        </th>
                    </tr>
                    <tr>
                        <th>Student_No</th>
                        <th>Name</th>
                        <th>Course Name</th>
                        <th>Time</th>
                    </tr>
                </form>
            </head>
            <col>

            </col>
            {% for record in records %}
            <tr>
                <td>{{record.student_no}}</td>
                <td>{{record.name}}</td>
                <td>{{record.course_name}}</td>
                <td>{{record.time}}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>